<h2>Details of each user</h2>
<!--
<h3>
  The name of this user is <%= @user_id[:name] %>
</h3> -->

<p>
  The ID of this user is <%= @user_id[:id] %></br>
  The name of this user is <%= @user_id[:name] %></br>
  The name of this user is <%= @user_id[:email] %></br>
  The name of this user is <%= @user_id[:address] %></br>
  The name of this user is <%= @user_id[:password] %></br>
  The name of this user is <%= @user_id[:cc_number] %></br>
  The name of this user is <%= @user_id[:date_joined] %></br>
</p>
