<h2>Details of each Product</h2>

<p>
  The ID of this user is <%= @product_id[:id] %></br>
  The name of this user is <%= @product_id[:name] %></br>
  The name of this user is <%= @product_id[:brand_id] %></br>
  The name of this user is <%= @product_id[:category_id] %></br>
  The name of this user is <%= @product_id[:price] %></br>
</p>
